* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
}

.float-l {
  float: left;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

header {
  background-color: #0c325a;
  height: 75vh;
  position: relative;
}

.container {
  width: 80vw;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.header-image {
  width: 60%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.header-image img {
  width: 100%;
}

.header-top {
  padding: 15px;
}

.header-navbar > ul > li {
  display: inline-block;
  text-transform: uppercase;
  padding: 0 15px;
}

.header-navbar li a {
  color: white;
  font-weight: 300;
  font-size: 12px;
}

.header-text {
  width: 45%;
  position: absolute;
  top: 50%;
  transform: translate(0 , -50%);
  color: white;
}

h1 {
  font-size: 50px;
  font-weight: 500;
}

.header-text button {
  margin-top: 20px;
  padding: 15px;
  background-color: #7cd132;
  color: white;
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: 700;
}

.section1 {
  position: relative;
}

.section1-content {
  width: 100%;
  text-align: center;
  line-height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section1-content div:first-child {
  color: black;
  font-size: 30px;
  font-weight: 700;
}

.section1-content div:nth-child(2) {
  color: #717477;
  font-size: 20px;
  font-weight: 500;
}

.section1, footer {
  background-color: #d3d3d3;
  height: 20vh;
}

.section2, .section3 {
  background-color: white;
  height: 50vh;
}

.box {
  width: 33%;
  text-align: center;
  padding: 15px;
}

.section2 .box-image {
  width: 200px;
  height: 200px;
  position: relative;
}

.section2 .box-image img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
}

.box-title {
  color: #7cd132;
  font-size: 30px;
  font-weight: 700;
  padding: 15px 0;
}

.box-text {
  line-height: 28px;
  color: #717477;
  font-weight: 500;
}
