* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

header {
  background-color: #0c325a;
  height: 75vh;
  position: relative;
}

.container {
  width: 80vw;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.header-image {
  width: 60%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.header-image img {
  width: 100%;
}

.header-text {
  width: 45%;
  position: absolute;
  top: 50%;
  transform: translate(0 , -50%);
  color: white;
}

h1 {
  font-size: 50px;
  font-weight: 500;
}

.header-text button {
  margin-top: 20px;
  padding: 15px;
  background-color: #7cd132;
  color: white;
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: 700;
}

.section1, footer {
  background-color: #d3d3d3;
  height: 200px;
}

.section2, .section3 {
  background-color: white;
  height: 400px;
}
